@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.navbar {

  background-color: #FFFFFF !important;
}

.navbar-brand {
  background-color: #FFFFFF;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.9rem !important;
  color: rgb(3, 3, 3) !important;
}
.navbar a {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #6651ec;
}

.navbar a:hover {
  color: #5b54e9 !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }


  .menu_active {
    font-weight: bold;
    border-bottom: none;

    
  }
}

/* ---------main landing section-------------- */


#header {
  width: 100%;
  font-size: 80px;
margin-top: 70px;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #5b3aec;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

#header .btn btn-secondary {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: rgb(108, 62, 214);
  text-decoration: none;

}

#header .btn btn-secondary:hover {
  background:rgb(82, 94, 204);
  color: white;
}

#header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
0%  {
transform: translateY(10px);
}
100%{
transform: translateY(-10px);
}
}

@keyframes up-down {
0%  {
transform: translateY(10px);
}
100%{
transform: translateY(-10px);
}
}
